export(colorlegend)
export(corr.rect)
export(corrplot)
export(corrplot.circle)
export(corrplot.color)
export(corrplot.ellipse)
export(corrplot.number)
export(corrplot.pie)
export(corrplot.shade)
export(corrplot.square)